[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]

[start]
cmd = "npm start"

[variables]
PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING = "1"
